<p id="notice"><%= notice %></p>

<p>
  <strong>Unittype:</strong>
  <%= @material_unit.unitType %>
</p>

<%= link_to 'Edit', edit_material_unit_path(@material_unit) %> |
<%= link_to 'Back', material_units_path %>
